body {
  margin: 10px;
  font-family: sans-serif;
}

.folder {
  cursor: pointer;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 50%;
  margin: 1px 0px;
}

.folder-items {
  margin-left: 15px;
  flex-direction: column;
}

.file {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 50%;
  margin: 1px 0px;
}