* {
  margin: 0;
}

.App {
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.input_comment {
  display: flex;
  gap: 10px;
}
