* {
    margin: 0;
    padding: 0;
}

.tabs {
    border: 1px solid black;
    padding: 20px;
}

.headerContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tab {
    padding: 20px;
}

.tab:hover {
    background-color: skyblue;
    cursor: pointer;
}

.tab.active {
    background-color: lightcoral;
}

.contentContainer {
   border: 1px solid black;
}

.tabContent {
    padding: 20px;
}

